numpy
pandas
scikit-learn>=0.22
missingno
opendatasets
matplotlib
seaborn
joblib
osfclient
ipywidgets
ramp-workflow==0.6.0
optuna
imbalanced-learn
scipy
tensorflow-cpu
torch  # pytorch-cpu
torchvision # torchvision-cpu
lightgbm
xgboost
catboost
